<h1>StaticPages#surprise</h1>

<h3>Triángulo 1</h3>
<%	@size.each do |number|%>
<%=	p "*" * number%>
<br/>
<%  end %>

<h3>Triángulo 2</h3>
<% @size.reverse! %>

<% @size.each do || number %>
<% counter = @size.count %>
<% size.each do |number| %>
	<% linea = "*" * (2*number-1) %>
	<% spaces = 	%>
<% end %>